.nav {
    box-shadow: 0em 0.2em 0.375em #0000004A;
    position: absolute;
    width: 100%;
    background-color: white;
    top: 0;

    &__percentage-scroller{
        background-color: red;
        width: 0%;
        height: 0.125em;
        position: fixed;
        top: 0;
        left: 0;
        transition: width linear 0.3s;
        z-index: 999;
    }

    &__logo{
        display: inline-block;
        width: 80%;
        margin-top: 1.063em;
        margin-left: 1.563em;

        &__text{
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 5%;
        }
    }

    &__menu{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-bottom: 1.5%;
        background: url(img/Menu-Hamburguer.svg) no-repeat;
    }

    &__menu-closed{
        background: url(img/Menu-X.svg) no-repeat;
    }

    &__mobile-menu{
        height: 11em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 4% 7%;
        
        &__option{
            font-size: 0.688rem;
            font-weight: 700;
            line-height: 0.938rem;
            letter-spacing: 0.205rem;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: #A5A5A5;
        }

        &__option:active{
            color: black;
            font-weight: 900;
        }

        &__option:focus{
            color: black;
            font-weight: 900;
        }
    }

    &__mobile-menu-hidden{
        display: none;
    }

    &__desktop-menu{
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .nav{
        display: flex;
        justify-content: space-around;
        height: 4em;

        &__logo{
            margin-top: 0;
            margin-left: 5%;
            width: 40%;
            display: flex;
            align-items: center;

            &__text{
                margin-bottom: 0;
            }
        }

        &__menu{
            display: none;
        }

        &__desktop-menu{
            display: flex;
            width: 40%;
            justify-content: space-around;

            &__option{
                display: flex;
                align-items: center;
                height: 100%;

                &__text{
                    font-size: 0.688rem;
                    line-height: 0.938rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 0.2rem;
                    text-decoration: none;
                    color: #A5A5A5;
                }
            }

            &__option:hover{
                cursor: pointer;
                display: flex;
                align-items: center;
                border-bottom: 0.25em solid #08A6E4;
                height: 100%;
            }

            &__option:hover &__option__text{
                color: black;
            }
        }
    }
}