.main{

    &__pricing{

        margin-top: 50px;
        
        &__title{
            font-weight: 400;
            font-size: 2.25rem;
            line-height: 2.64rem;
            text-align: center;
        }

        &__article{
            width: 80%;
            height: 15.7em;
            margin: 10%;
            border-radius: 5%;
            

            &__price{
                display: inline-block;
                position: relative;
                width: 35%;
                height: 90%;
                text-align: center;
                margin-left: 8%;
                vertical-align: top;

                &__title{
                    padding-top: 50%;
                    font-weight: 700;
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                }

                &__cost{
                    font-weight: 300;
                    font-size: 2.875rem;
                    line-height: 4rem;
                }

                &__offer{
                    font-weight: 700;
                    font-size: 0.75rem;
                    line-height: 0.875rem;
                }

                &__extra-padding-top{
                    padding-top: 70%;
                }
            }

            &__feature-list{
                display: inline-block;
                width: 55%;
                height: 90%;
                padding-left: 7%;

                &__feature{
                    width: 100%;
                    margin-top: 5px;

                    &__img{
                        display: inline-block;
                    }

                    &__text{
                        display: inline-block;
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 1.19rem;
                        text-align: left;
                        width: auto;
                        margin-left: 5%;
                        margin-top: 15px;
                    }
                }
            }

            &__rounded-button{
                width: 50%;
                height: 20%;
                margin-left: 25%;
                border: none;
                border-radius: 23px;
                color: white;
                font-weight: 700;
                font-size: 0.813rem;
                line-height: 1.106rem;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .main{

        &__pricing{
            padding: 5% 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            &__title{
                width: 100%;
                margin-bottom: 5%;
                
            }

            &__article{
                width: 28%;
                height: 485px;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                
                &__price{
                    margin: 0;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    &__title{
                        padding-top: 30%;
                        margin-bottom: 10%;
                    }
                }

                &__feature-list{
                    width: auto;
                    height: 50%;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    &__feature{
                        margin: 0;

                        &__text{
                            margin: 0;
                        }
                    }
                }

                &__rounded-button{
                    height: 10%;
                    margin: 0;
                    position: relative;
                    top: 5%;
                }
            }

            &__article:hover{
                transform: scale(1.1);
                box-shadow: 5px 10px 27px 0px #4647474a;
            }
        }
    }
}