.nav {
  box-shadow: 0em 0.2em 0.375em rgba(0, 0, 0, 0.2901960784);
  position: absolute;
  width: 100%;
  background-color: white;
  top: 0;
}
.nav__percentage-scroller {
  background-color: red;
  width: 0%;
  height: 0.125em;
  position: fixed;
  top: 0;
  left: 0;
  transition: width linear 0.3s;
  z-index: 999;
}
.nav__logo {
  display: inline-block;
  width: 80%;
  margin-top: 1.063em;
  margin-left: 1.563em;
}
.nav__logo__text {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5%;
}
.nav__menu {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-bottom: 1.5%;
  background: url(img/Menu-Hamburguer.svg) no-repeat;
}
.nav__menu-closed {
  background: url(img/Menu-X.svg) no-repeat;
}
.nav__mobile-menu {
  height: 11em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4% 7%;
}
.nav__mobile-menu__option {
  font-size: 0.688rem;
  font-weight: 700;
  line-height: 0.938rem;
  letter-spacing: 0.205rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #A5A5A5;
}
.nav__mobile-menu__option:active {
  color: black;
  font-weight: 900;
}
.nav__mobile-menu__option:focus {
  color: black;
  font-weight: 900;
}
.nav__mobile-menu-hidden {
  display: none;
}
.nav__desktop-menu {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: flex;
    justify-content: space-around;
    height: 4em;
  }
  .nav__logo {
    margin-top: 0;
    margin-left: 5%;
    width: 40%;
    display: flex;
    align-items: center;
  }
  .nav__logo__text {
    margin-bottom: 0;
  }
  .nav__menu {
    display: none;
  }
  .nav__desktop-menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
  .nav__desktop-menu__option {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav__desktop-menu__option__text {
    font-size: 0.688rem;
    line-height: 0.938rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #A5A5A5;
  }
  .nav__desktop-menu__option:hover {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 0.25em solid #08A6E4;
    height: 100%;
  }
  .nav__desktop-menu__option:hover .nav__desktop-menu__option__text {
    color: black;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 9;
  padding-top: 6.25em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  background-color: white;
  margin: auto;
  padding: 1.5% 2.5%;
  width: 80%;
  height: 30%;
  border-radius: 0.7em;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: flex-end;
}
.modal__content__close {
  text-align: right;
  color: #aaaaaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
  align-self: flex-start;
  border: none;
  background: transparent;
}
.modal__content__close:hover, .modal__content__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__content__title {
  margin-top: 1.5%;
  width: 98%;
  font-size: 2rem;
}
.modal__content__input-label {
  margin-right: 1%;
  font-size: 1.3rem;
  font-weight: 600;
}
.modal__content__input {
  width: 50%;
  margin-right: 20%;
  border: none;
  border-bottom: 1px solid #95989A;
  font-size: 1.2rem;
  font-weight: 500;
}
.modal__content__button {
  padding: 1% 2%;
  border: none;
  border-radius: 5em;
  box-shadow: 0.3em 0.625em 0.875em rgba(7, 172, 230, 0.2901960784);
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  text-align: center;
  color: white;
}
.modal__content__confirmation {
  visibility: hidden;
  width: 100%;
}

.main {
  margin-top: 6.25em;
}
.main__header__opening {
  margin-left: 8.5%;
  width: 83%;
}
.main__header__opening__title {
  font-size: 2.188rem;
  line-height: 2.563rem;
  font-weight: 400;
  text-align: center;
}
.main__header__opening__subtitle {
  margin-top: 1.25em;
  font-size: 1rem;
  line-height: 1.438rem;
  font-weight: 400;
  text-align: center;
}
.main__header__opening__button {
  margin-top: 1.875em;
  padding: 1.5em 6.3em;
  border: none;
  border-radius: 5em;
  box-shadow: 0.3em 0.625em 0.875em rgba(7, 172, 230, 0.2901960784);
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  text-align: center;
  color: white;
}
.main__header__image-box {
  margin-top: 1.875em;
  width: 100%;
  height: 16.7em;
  overflow: hidden;
}
.main__header__image-box__image {
  margin-left: -55%;
  height: 100%;
}
.main__header__stat-column__title {
  margin-left: 8.3%;
  width: 83%;
  font-size: 1.875rem;
  line-height: 2.188rem;
  font-weight: 300;
  text-align: center;
}
.main__header__stat-column__entries {
  margin-top: 1.565em;
  width: 50%;
  min-width: 10.625em;
  margin-left: 30%;
}
.main__header__stat-column__entries__image-background {
  margin-left: 25%;
  display: inline-block;
}
.main__header__stat-column__entries__image-foreground {
  display: inline-block;
  position: relative;
  left: -2.3em;
  top: -0.6em;
}
.main__header__stat-column__entries__number {
  margin-top: 0.625em;
  margin-left: -10%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.375rem;
}
.main__header__stat-column__entries__stat {
  margin-top: 0.625em;
  margin-left: -15%;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
}
.main__header__stat-column__products {
  margin-top: 1.565em;
  width: 50%;
  min-width: 10.625em;
  margin-left: 30%;
}
.main__header__stat-column__products__image-background {
  margin-left: 25%;
  display: inline-block;
}
.main__header__stat-column__products__image-foreground {
  display: inline-block;
  position: relative;
  left: -2.9em;
  top: -1em;
}
.main__header__stat-column__products__number {
  margin-top: 0.625em;
  margin-left: -5%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.375rem;
}
.main__header__stat-column__products__stat {
  width: 70%;
  margin-top: 0.625em;
  margin-left: 10%;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
}
.main__header__stat-column__post {
  margin-top: 1.565em;
  width: 50%;
  min-width: 10.625em;
  margin-left: 30%;
}
.main__header__stat-column__post__image-background {
  margin-left: 25%;
  display: inline-block;
}
.main__header__stat-column__post__image-foreground {
  display: inline-block;
  position: relative;
  left: -2.3em;
  top: -0.6em;
}
.main__header__stat-column__post__number {
  margin-top: 0.625em;
  margin-left: -10%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.375rem;
}
.main__header__stat-column__post__stat {
  width: 50%;
  margin-top: 0.625em;
  margin-left: 20%;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
}

@media only screen and (min-width: 1000px) {
  .main__header__opening {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__header__opening__button {
    padding: 1.5em 9em;
    transition: scale 2s;
  }
  .main__header__opening__button:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .main__header__image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 37.5em;
  }
  .main__header__image-box__image {
    margin: 0;
  }
  .main__header__stat-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 31.25em;
  }
  .main__header__stat-column__title {
    width: 100%;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 0;
  }
  .main__header__stat-column__entries {
    width: 5%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .main__header__stat-column__entries__image-background {
    width: 3.92em;
    height: 3.92em;
    margin: 0;
    position: relative;
    left: 1em;
  }
  .main__header__stat-column__entries__image-foreground {
    width: 2.75em;
    height: 3.25em;
    margin: 0;
    position: relative;
    left: -1em;
    top: -0.1em;
  }
  .main__header__stat-column__entries__number {
    margin: 0;
    width: 100%;
  }
  .main__header__stat-column__entries__stat {
    margin: 0;
    width: 100%;
  }
  .main__header__stat-column__products {
    width: 5%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .main__header__stat-column__products__image-background {
    width: 3.92em;
    height: 3.92em;
    margin: 0;
    position: relative;
    left: 1.5em;
  }
  .main__header__stat-column__products__image-foreground {
    width: 4.09em;
    height: 2.28em;
    margin: 0;
    position: relative;
    left: -1.1em;
    top: 0em;
  }
  .main__header__stat-column__products__number {
    margin: 0;
    width: 100%;
  }
  .main__header__stat-column__products__stat {
    margin: 0;
    width: 100%;
  }
  .main__header__stat-column__post {
    width: 5%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .main__header__stat-column__post__image-foreground {
    position: relative;
    top: -0.1em;
  }
  .main__header__stat-column__post__number {
    margin: 0;
    width: 100%;
  }
  .main__header__stat-column__post__stat {
    margin: 0;
    width: 100%;
  }
}
.main__selling-points {
  background: #F7F7F7;
  margin-top: 1.25em;
  padding: 1.875em;
}
.main__selling-points__selling-point-1 {
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 0.3em;
  margin-top: 3.125em;
  width: 100%;
  padding: 1.5em;
  padding-top: 2.2em;
}
.main__selling-points__selling-point-1__image__background {
  position: absolute;
  right: 4.2em;
  margin-top: -2.2em;
  width: 7.97em;
  height: 7.97em;
}
.main__selling-points__selling-point-1__image__foreground {
  position: relative;
  margin-left: 2em;
  width: 12.05em;
  height: 6.87em;
  z-index: 1;
}
.main__selling-points__selling-point-1__text__title {
  margin-top: 1em;
  font-size: 1.875rem;
  line-height: 2.19rem;
  font-weight: 500;
  text-align: left;
}
.main__selling-points__selling-point-1__text__paragraph {
  margin-top: 4em;
  font-size: 0.875rem;
  line-height: 1.31rem;
  font-weight: 500;
  text-align: left;
}
.main__selling-points__selling-point-1__text__line {
  visibility: hidden;
}
.main__selling-points__selling-point-2 {
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 0.3em;
  margin-top: 3.125em;
  width: 100%;
  padding: 1.5em;
}
.main__selling-points__selling-point-2__image__background {
  position: absolute;
  right: 8em;
  margin-top: -0.3em;
  width: 8.25em;
  height: 8.25em;
}
.main__selling-points__selling-point-2__image__foreground {
  position: relative;
  margin-left: 4em;
  width: 10.94em;
  height: 8.44em;
  z-index: 1;
}
.main__selling-points__selling-point-2__text__title {
  width: 80%;
  margin-top: 0.7em;
  font-size: 1.875rem;
  line-height: 2.19rem;
  font-weight: 500;
  text-align: left;
}
.main__selling-points__selling-point-2__text__paragraph {
  margin-top: 1.5em;
  font-size: 0.875rem;
  line-height: 1.31rem;
  font-weight: 500;
  text-align: left;
}
.main__selling-points__selling-point-2__text__line {
  visibility: hidden;
}
.main__selling-points__selling-point-3 {
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 0.3em;
  margin-top: 3.125em;
  width: 100%;
}
.main__selling-points__selling-point-3__image {
  height: 12.12em;
  margin-top: -0.625em;
  border: 1px solid #E8E9ED;
  border-radius: 0.3em;
}
.main__selling-points__selling-point-3__image__foreground {
  width: 18.75em;
  height: 12.94em;
  position: relative;
  top: 15%;
  left: -5%;
}
.main__selling-points__selling-point-3__text__title {
  margin: 0.7em;
  font-size: 1.875rem;
  line-height: 2.19rem;
  font-weight: 500;
  text-align: left;
}
.main__selling-points__selling-point-3__text__paragraph {
  margin: 1.5em;
  margin-top: 2em;
  font-size: 1.125rem;
  line-height: 1.36rem;
  font-weight: 500;
  text-align: left;
}
.main__selling-points__selling-point-3__text__line {
  visibility: hidden;
}

@media only screen and (min-width: 1000px) {
  .main__selling-points {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.875em 14.25%;
  }
  .main__selling-points__selling-point-1 {
    height: 23.125em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .main__selling-points__selling-point-1__image {
    height: 100%;
    padding: 0.625em 0;
  }
  .main__selling-points__selling-point-1__image__background {
    background-image: url("img/Red-rectangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 15.94em;
    max-height: 15.94em;
    width: 50%;
    height: 82%;
    position: relative;
    top: -60%;
    left: 40%;
  }
  .main__selling-points__selling-point-1__image__foreground {
    margin: 0;
    max-width: 24.15em;
    max-height: 13.75em;
    width: 60%;
    height: 71%;
    position: relative;
    top: 30%;
    left: 14%;
  }
  .main__selling-points__selling-point-1__text {
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main__selling-points__selling-point-1__text__title {
    font-size: 2.25rem;
    margin: 0;
  }
  .main__selling-points__selling-point-1__text__paragraph {
    font-size: 1rem;
    margin: 0;
  }
  .main__selling-points__selling-point-1__text__line {
    visibility: visible;
    width: 80%;
  }
  .main__selling-points__selling-point-2 {
    height: 23.125em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main__selling-points__selling-point-2__image {
    height: 100%;
    padding: 0.625em 0;
  }
  .main__selling-points__selling-point-2__image__background {
    background-image: url("img/Red-rectangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 20em;
    max-height: 20em;
    width: 67.5%;
    height: 100%;
    position: relative;
    top: -115%;
    left: 5%;
  }
  .main__selling-points__selling-point-2__image__foreground {
    margin: 0;
    max-width: 26.625em;
    max-height: 20.5em;
    width: 90%;
    height: 110%;
    position: relative;
    top: -2%;
    left: 5%;
  }
  .main__selling-points__selling-point-2__text {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main__selling-points__selling-point-2__text__title {
    width: 70%;
    font-size: 2.25rem;
    margin: 0;
  }
  .main__selling-points__selling-point-2__text__paragraph {
    font-size: 1rem;
    margin: 0;
  }
  .main__selling-points__selling-point-2__text__line {
    visibility: visible;
    width: 80%;
  }
  .main__selling-points__selling-point-3 {
    width: 54.5%;
    height: 23.125em;
    padding: 5%;
  }
  .main__selling-points__selling-point-3__image {
    width: 39%;
    height: 23.125em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__selling-points__selling-point-3__image__foreground {
    max-width: 16.61em;
    max-height: 13em;
    width: 60%;
    height: 56%;
    position: relative;
    top: 7%;
    left: -7%;
  }
  .main__selling-points__selling-point-3__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main__selling-points__selling-point-3__text__title {
    width: 80%;
    font-size: 2.25rem;
    margin: 0;
  }
  .main__selling-points__selling-point-3__text__paragraph {
    width: 90%;
    font-size: 1rem;
    margin: 0;
  }
  .main__selling-points__selling-point-3__text__line {
    visibility: visible;
    width: 65%;
  }
}
.main__pricing {
  margin-top: 3.125em;
}
.main__pricing__title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.64rem;
  text-align: center;
}
.main__pricing__currency-selector {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10%;
}
.main__pricing__currency-selector__container__input {
  scale: 1.2;
}
.main__pricing__currency-selector__container__input:hover {
  cursor: pointer;
}
.main__pricing__currency-selector__container__text {
  font-size: 1.125rem;
  line-height: 1.36rem;
  font-weight: 500;
  text-align: left;
}
.main__pricing__article {
  width: 80%;
  height: 15.7em;
  margin: 10%;
  border-radius: 5%;
}
.main__pricing__article__price {
  display: inline-block;
  position: relative;
  width: 35%;
  height: 90%;
  text-align: center;
  margin-left: 8%;
  vertical-align: top;
}
.main__pricing__article__price__title {
  padding-top: 50%;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.main__pricing__article__price__cost {
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 4rem;
  text-align: center;
  position: relative;
  left: -0.2em;
  width: 120%;
}
.main__pricing__article__price__offer {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.main__pricing__article__price__extra-padding-top {
  padding-top: 70%;
}
.main__pricing__article__feature-list {
  display: inline-block;
  width: 55%;
  height: 90%;
  padding-left: 7%;
}
.main__pricing__article__feature-list__feature {
  width: 100%;
  margin-top: 0.3em;
}
.main__pricing__article__feature-list__feature__img {
  display: inline-block;
}
.main__pricing__article__feature-list__feature__text {
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.19rem;
  text-align: left;
  width: auto;
  margin-left: 5%;
  margin-top: 1em;
}
.main__pricing__article__rounded-button {
  padding: 5% 20%;
  margin-left: 25%;
  border: none;
  border-radius: 3em;
  color: white;
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.106rem;
  text-align: center;
}
.main__pricing__article__rounded-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .main__pricing {
    padding: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main__pricing__title {
    width: 100%;
  }
  .main__pricing__currency-selector {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .main__pricing__article {
    width: 28%;
    height: 30.3em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main__pricing__article__price {
    margin: 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .main__pricing__article__price__title {
    padding-top: 30%;
    margin-bottom: 10%;
  }
  .main__pricing__article__feature-list {
    width: auto;
    height: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .main__pricing__article__feature-list__feature {
    margin: 0;
  }
  .main__pricing__article__feature-list__feature__text {
    margin: 0;
  }
  .main__pricing__article__rounded-button {
    height: 10%;
    margin: 0;
    position: relative;
    top: 5%;
  }
  .main__pricing__article:hover {
    transform: scale(1.1);
    box-shadow: 0.3em 0.625em 1.69em 0em rgba(70, 71, 71, 0.2901960784);
  }
}
.main__slider {
  margin: 5% 10%;
}
.main__slider__view {
  position: relative;
  overflow: hidden;
  width: 100%;
  align-items: center;
}
.main__slider__view__UI {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.main__slider__view__UI__left-arrow {
  position: absolute;
  left: 1%;
  top: 45%;
  width: 4%;
  opacity: 0.5;
}
.main__slider__view__UI__right-arrow {
  position: absolute;
  right: 1%;
  top: 45%;
  width: 4%;
  opacity: 0.5;
  transform: scaleX(-1);
}
.main__slider__view__UI__tracker {
  position: absolute;
  bottom: 2%;
  left: 44.5%;
  width: 11%;
  height: 3%;
  display: flex;
  justify-content: space-between;
}
.main__slider__view__UI__tracker__circle {
  background-color: #bbbbbb;
  width: 15%;
  height: 100%;
  border-radius: 100%;
}
.main__slider__view__UI__tracker__current-circle {
  background-color: white;
}
.main__slider__view__content {
  display: flex;
  transition: all 0.3s ease-in;
}
.main__slider__view__content__image {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__contact {
  margin-top: 2em;
}
.main__contact__info {
  padding: 0 5%;
}
.main__contact__info__title {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.94rem;
  text-align: left;
}
.main__contact__info__subtitle {
  margin-top: 0.313em;
  margin-bottom: 1.875em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
}
.main__contact__info__container__icon {
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
}
.main__contact__info__container__information {
  display: inline-block;
  position: relative;
  top: -0.5em;
  width: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
  color: #A5A5A5;
}
.main__contact__form__input {
  padding: 0 5%;
  margin-top: 1.875em;
}
.main__contact__form__input__container {
  margin-top: 1.875em;
}
.main__contact__form__input__container__text {
  display: block;
  font-weight: 600;
  font-size: 0.69rem;
  line-height: 0.94rem;
  text-align: left;
}
.main__contact__form__input__container__input {
  margin-top: 1.25em;
  width: 90%;
  border: none;
  border-bottom: 1px solid #95989A;
}
.main__contact__form__send {
  padding: 0 5%;
  margin-top: 1.563em;
}
.main__contact__form__send__checkbox {
  cursor: pointer;
  position: relative;
  bottom: 7.25em;
}
.main__contact__form__send__checkbox input {
  display: none;
}
.main__contact__form__send__checkbox input:checked ~ .main__contact__form__send__checkbox__border {
  background-image: url(img/Checkbox_check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main__contact__form__send__checkbox input:checked ~ .main__contact__form__send__checkbox__border:after {
  opacity: 1;
}
.main__contact__form__send__checkbox__border {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border: 1px solid #95989A;
  border-radius: 0.25em;
}
.main__contact__form__send__text {
  display: inline-block;
  margin-left: 0.5rem;
  width: calc(90% - 2.5rem);
  color: #707070;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.021rem;
  text-align: left;
}
.main__contact__form__send__rounded-button {
  margin-top: 1.563em;
  padding: 1.3em 7em;
  margin-left: 25%;
  border: none;
  border-radius: 5em;
  box-shadow: 0.313em 0.625em 0.875em rgba(7, 172, 230, 0.2901960784);
  color: white;
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.106rem;
  text-align: center;
  transition: scale 2s;
}
.main__contact__form__send__rounded-button:hover {
  cursor: pointer;
  scale: 1.1;
}

@media only screen and (min-width: 1000px) {
  .main__contact {
    width: 60%;
    height: 23.5em;
    margin: 4.7em 20% 0 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main__contact__info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-content: space-between;
    width: 42%;
    height: 45%;
    padding: 0;
  }
  .main__contact__info__title {
    width: 100%;
    font-size: 3rem;
  }
  .main__contact__info__subtitle {
    width: 100%;
    margin: 0;
  }
  .main__contact__info__container {
    width: 48.5%;
    display: inline-block;
  }
  .main__contact__form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .main__contact__form__input {
    width: 100%;
    height: 38%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main__contact__form__input__container {
    margin: 0;
  }
  .main__contact__form__input__container__input {
    width: 100%;
  }
  .main__contact__form__send {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 0.625em;
  }
  .main__contact__form__send__text {
    width: 89%;
  }
  .main__contact__form__send__checkbox {
    position: static;
  }
}
.footer {
  margin-top: 2.5em;
  padding: 5%;
  box-shadow: 0 -0.3em 2.5rem rgba(0, 0, 0, 0.2);
}
.footer__text {
  display: inline-block;
  width: 70%;
}
.footer__text__title {
  font-size: 1.625rem;
  line-height: 1.875rem;
  font-weight: 300;
  text-align: left;
}
.footer__text__subtitle {
  font-size: 0.69rem;
  line-height: 0.94rem;
  font-weight: 300;
  text-align: left;
  color: #A5A5A5;
}
.footer__social-networks {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100%;
}
.footer__social-networks__icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-left: 17%;
  margin-top: 10%;
}

@media only screen and (min-width: 1000px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
  }
  .footer__text {
    width: 80%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer__social-networks {
    display: flex;
    align-items: center;
    width: 10%;
    height: 3.125em;
    justify-content: space-evenly;
  }
  .footer__social-networks__icon {
    margin: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --red-color: #FB3B64;
  --blue-color: #08A6E4;
  --green-color: #55DFB4;
  font-family: Raleway, "Open Sans";
}

.main {
  margin-top: 11.25rem;
}
.main__button-container {
  margin-top: 3.125em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main__button-container__return-button {
  margin-right: 5%;
  padding: 1.3em 6.8%;
  border: none;
  border-radius: 5em;
  box-shadow: 0.313em 0.625em 0.875em rgba(7, 172, 230, 0.2901960784);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.106rem;
  text-align: center;
  transition: scale 2s;
}
.main__button-container__return-button:hover {
  cursor: pointer;
  scale: 1.1;
}

body {
  min-width: 320px;
}

.blue-text {
  color: var(--blue-color);
}

.red-text {
  color: var(--red-color);
}

.green-text {
  color: var(--green-color);
}

.blue-border {
  border: 0.095rem solid var(--blue-color);
}

.red-border {
  border: 0.095rem solid var(--red-color);
}

.green-border {
  border: 0.095rem solid var(--green-color);
}

.blue-background {
  background-color: var(--blue-color);
}

.red-background {
  background-color: var(--red-color);
}

.green-background {
  background-color: var(--green-color);
}

.open-sans {
  font-family: "Open Sans";
}/*# sourceMappingURL=style.css.map */