@import 'scss/nav.scss';
@import 'scss/header.scss';
@import 'scss/selling-points.scss';
@import 'scss/pricing.scss';
@import 'scss/contact.scss';
@import 'scss/footer.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --red-color: #FB3B64;
    --blue-color: #08A6E4;
    --green-color: #55DFB4;
    font-family: Raleway, OpenSans;
}

.main{
    margin-top: 100px;

    &__button-container{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;

        &__return-button{
            padding: 1.65em 6em;
            border: none;
            border-radius: 5em;
            box-shadow: 5px 10px 14px #07ACE64A;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.106rem;
            text-align: center;
            transition: scale 2s;
        }

        &__return-button:hover{
            cursor: pointer;
            scale: 1.1;
        }
    }
}

body {
    min-width: 320px;
}

.blue-text{
    color: var(--blue-color);
}

.red-text{
    color: var(--red-color);
}

.green-text{
    color: var(--green-color);
}

.blue-border{
    border: 1.5px solid var(--blue-color);
}

.red-border{
    border: 1.5px solid var(--red-color);
}

.green-border{
    border: 1.5px solid var(--green-color);
}

.blue-background{
    background-color: var(--blue-color);
}

.red-background{
    background-color: var(--red-color);
}

.green-background{
    background-color: var(--green-color);
}

.open-sans{
    font-family: openSans;
}