.header {
  height: 4em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2901960784);
}
.header--logo {
  display: inline-block;
  width: 80%;
  margin-top: 17px;
  margin-left: 25px;
}
.header--logo--text {
  font-size: 2rem;
  font-weight: 300;
}
.header--menu {
  display: inline-block;
  margin-bottom: 1.5%;
}
.header--desktop-menu {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-around;
  }
  .header--logo {
    margin-top: 0;
    margin-left: 5%;
    width: 40%;
    display: flex;
    align-items: center;
  }
  .header--menu {
    display: none;
  }
  .header--desktop-menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
  .header--desktop-menu--option {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header--desktop-menu--option--text {
    font-size: 0.688rem;
    line-height: 0.938rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #A5A5A5;
  }
  .header--desktop-menu--selected-option {
    display: flex;
    align-items: center;
    border-bottom: 4px solid #08A6E4;
    height: 100%;
  }
  .header--desktop-menu--selected-option--text {
    font-size: 0.688rem;
    line-height: 0.938rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2rem;
    color: black;
  }
}
.main {
  margin-top: 100px;
}
.main--introduction--opening {
  margin-left: 8.3%;
  width: 83%;
}
.main--introduction--opening--title {
  font-size: 2.188rem;
  line-height: 2.563rem;
  font-weight: 400;
  text-align: center;
}
.main--introduction--opening--subtitle {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.438rem;
  font-weight: 400;
  text-align: center;
}
.main--introduction--opening--button {
  margin-top: 30px;
  width: 100%;
  height: 5em;
  border: none;
  border-radius: 5em;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
}
.main--introduction--opening--button--text {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  text-align: center;
  color: white;
}
.main--introduction--image-box {
  margin-top: 30px;
  width: 100%;
  height: 16.7em;
  overflow: hidden;
}
.main--introduction--image-box--image {
  margin-left: -55%;
  height: 100%;
}
.main--introduction--stat-column--title {
  margin-left: 8.3%;
  width: 83%;
  font-size: 1.875rem;
  line-height: 2.188rem;
  font-weight: 300;
  text-align: center;
}
.main--introduction--stat-column--entries {
  margin-top: 25px;
  width: 50%;
  min-width: 170px;
  margin-left: 30%;
}
.main--introduction--stat-column--entries--image-background {
  margin-left: 25%;
  display: inline-block;
}
.main--introduction--stat-column--entries--image-foreground {
  display: inline-block;
  position: relative;
  left: -2.3em;
  top: -0.6em;
}
.main--introduction--stat-column--entries--number {
  margin-top: 10px;
  margin-left: -10%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.375rem;
}
.main--introduction--stat-column--entries--stat {
  margin-top: 10px;
  margin-left: -15%;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
}
.main--introduction--stat-column--products {
  margin-top: 25px;
  width: 50%;
  min-width: 170px;
  margin-left: 30%;
}
.main--introduction--stat-column--products--image-background {
  margin-left: 25%;
  display: inline-block;
}
.main--introduction--stat-column--products--image-foreground {
  display: inline-block;
  position: relative;
  left: -2.9em;
  top: -1em;
}
.main--introduction--stat-column--products--number {
  margin-top: 10px;
  margin-left: -5%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.375rem;
}
.main--introduction--stat-column--products--stat {
  width: 70%;
  margin-top: 10px;
  margin-left: 10%;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
}
.main--introduction--stat-column--post {
  margin-top: 25px;
  width: 50%;
  min-width: 170px;
  margin-left: 30%;
}
.main--introduction--stat-column--post--image-background {
  margin-left: 25%;
  display: inline-block;
}
.main--introduction--stat-column--post--image-foreground {
  display: inline-block;
  position: relative;
  left: -2.3em;
  top: -0.6em;
}
.main--introduction--stat-column--post--number {
  margin-top: 10px;
  margin-left: -10%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.375rem;
}
.main--introduction--stat-column--post--stat {
  width: 50%;
  margin-top: 10px;
  margin-left: 20%;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
}
.main--selling-points {
  background: #F7F7F7;
  margin-top: 20px;
  padding: 30px;
}
.main--selling-points--section1 {
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-top: 50px;
  width: 100%;
  padding: 1.5em;
  padding-top: 2.2em;
}
.main--selling-points--section1--image--background {
  position: absolute;
  right: 4.2em;
  margin-top: -2.2em;
  width: 127.5px;
  height: 127.5px;
}
.main--selling-points--section1--image--foreground {
  position: relative;
  margin-left: 2em;
  width: 192.76px;
  height: 109.93px;
  z-index: 1;
}
.main--selling-points--section1--text--title {
  margin-top: 1em;
  font-size: 1.875rem;
  line-height: 2.19rem;
  font-weight: 500;
  text-align: left;
}
.main--selling-points--section1--text--paragraph {
  margin-top: 4em;
  font-size: 0.875rem;
  line-height: 1.31rem;
  font-weight: 500;
  text-align: left;
}
.main--selling-points--section1--text--line {
  display: none;
}
.main--selling-points--section2 {
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-top: 50px;
  width: 100%;
  padding: 1.5em;
}
.main--selling-points--section2--image--background {
  position: absolute;
  right: 8em;
  margin-top: -0.3em;
  width: 132px;
  height: 132px;
}
.main--selling-points--section2--image--foreground {
  position: relative;
  margin-left: 4em;
  width: 175px;
  height: 134.99px;
  z-index: 1;
}
.main--selling-points--section2--text--title {
  width: 80%;
  margin-top: 0.7em;
  font-size: 1.875rem;
  line-height: 2.19rem;
  font-weight: 500;
  text-align: left;
}
.main--selling-points--section2--text--paragraph {
  margin-top: 1.5em;
  font-size: 0.875rem;
  line-height: 1.31rem;
  font-weight: 500;
  text-align: left;
}
.main--selling-points--section2--text--line {
  display: none;
}
.main--selling-points--section3 {
  background-color: #ffffff;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-top: 50px;
  width: 100%;
}
.main--selling-points--section3--image {
  height: 195px;
  margin-top: -10px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.main--selling-points--section3--image--foreground {
  width: 300px;
  height: 207px;
  position: relative;
  top: 15%;
  left: -5%;
}
.main--selling-points--section3--text--title {
  margin: 0.7em;
  font-size: 1.875rem;
  line-height: 2.19rem;
  font-weight: 500;
  text-align: left;
}
.main--selling-points--section3--text--paragraph {
  margin: 1.5em;
  margin-top: 2em;
  font-size: 1.125rem;
  line-height: 1.36rem;
  font-weight: 500;
  text-align: left;
}
.main--selling-points--section3--text--line {
  display: none;
}
.main--pricing {
  margin-top: 50px;
}
.main--pricing--title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.64rem;
  text-align: center;
}
.main--pricing--section {
  width: 80%;
  height: 15.7em;
  margin: 10%;
  border-radius: 5%;
}
.main--pricing--section--price {
  display: inline-block;
  position: relative;
  width: 35%;
  height: 90%;
  text-align: center;
  margin-left: 8%;
  vertical-align: top;
}
.main--pricing--section--price--title {
  padding-top: 50%;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.main--pricing--section--price--cost {
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 4rem;
}
.main--pricing--section--price--offer {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.main--pricing--section--price--extra-padding-top {
  padding-top: 70%;
}
.main--pricing--section--feature-list {
  display: inline-block;
  width: 55%;
  height: 90%;
  padding-left: 7%;
}
.main--pricing--section--feature-list--feature {
  width: 100%;
  margin-top: 5px;
}
.main--pricing--section--feature-list--feature--img {
  display: inline-block;
}
.main--pricing--section--feature-list--feature--text {
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.19rem;
  text-align: left;
  width: auto;
  margin-left: 5%;
  margin-top: 15px;
}
.main--pricing--section--rounded-button {
  width: 50%;
  height: 20%;
  margin-left: 25%;
  border: none;
  border-radius: 23px;
}
.main--pricing--section--rounded-button--text {
  color: white;
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.106rem;
  text-align: center;
}
.main--contact {
  margin-top: 75px;
}
.main--contact--info {
  padding: 0 5%;
}
.main--contact--info--title {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.94rem;
  text-align: left;
}
.main--contact--info--subtitle {
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
}
.main--contact--info--container--icon {
  display: inline-block;
  width: 27px;
  height: 27px;
}
.main--contact--info--container--information {
  display: inline-block;
  position: relative;
  top: -0.5em;
  width: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
  color: #A5A5A5;
}
.main--contact--input {
  padding: 0 5%;
  margin-top: 30px;
}
.main--contact--input--container {
  margin-top: 30px;
}
.main--contact--input--container--text {
  display: block;
  font-weight: 600;
  font-size: 0.69rem;
  line-height: 0.94rem;
  text-align: left;
}
.main--contact--input--container--input {
  margin-top: 20px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #95989A;
}
.main--contact--send {
  padding: 0 5%;
  margin-top: 25px;
}
.main--contact--send--checkbox {
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #95989A;
  border-radius: 4px;
  background-image: url(img/Checkbox_check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main--contact--send--text {
  display: inline-block;
  margin-left: 0.5rem;
  width: calc(95% - 2.5rem);
  color: #707070;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.021rem;
  text-align: left;
}
.main--contact--send--rounded-button {
  margin-top: 25px;
  width: 226px;
  height: 57px;
  margin-left: 25%;
  border: none;
  border-radius: 5em;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
}
.main--contact--send--rounded-button--text {
  color: white;
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.106rem;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .main--introduction--opening {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main--introduction--opening--button {
    width: 440px;
  }
  .main--introduction--image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 594px;
  }
  .main--introduction--image-box--image {
    margin: 0;
  }
  .main--introduction--stat-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 500px;
  }
  .main--introduction--stat-column--title {
    width: 100%;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 0;
  }
  .main--introduction--stat-column--entries {
    width: 5%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .main--introduction--stat-column--entries--image-background {
    width: 62.71px;
    height: 62.71px;
    margin: 0;
    position: relative;
    left: 1em;
  }
  .main--introduction--stat-column--entries--image-foreground {
    width: 44px;
    height: 52px;
    margin: 0;
    position: relative;
    left: -1em;
    top: -0.1em;
  }
  .main--introduction--stat-column--entries--number {
    margin: 0;
    width: 100%;
  }
  .main--introduction--stat-column--entries--stat {
    margin: 0;
    width: 100%;
  }
  .main--introduction--stat-column--products {
    width: 5%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .main--introduction--stat-column--products--image-background {
    width: 62.71px;
    height: 62.71px;
    margin: 0;
    position: relative;
    left: 1.5em;
  }
  .main--introduction--stat-column--products--image-foreground {
    width: 65.43;
    height: 36.5px;
    margin: 0;
    position: relative;
    left: -1.1em;
    top: 0em;
  }
  .main--introduction--stat-column--products--number {
    margin: 0;
    width: 100%;
  }
  .main--introduction--stat-column--products--stat {
    margin: 0;
    width: 100%;
  }
  .main--introduction--stat-column--post {
    width: 5%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .main--introduction--stat-column--post--image-foreground {
    position: relative;
    top: -0.1em;
  }
  .main--introduction--stat-column--post--number {
    margin: 0;
    width: 100%;
  }
  .main--introduction--stat-column--post--stat {
    margin: 0;
    width: 100%;
  }
  .main--selling-points {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 14.25%;
  }
  .main--selling-points--section1 {
    height: 370px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .main--selling-points--section1--image {
    height: 100%;
    padding: 10px 0;
  }
  .main--selling-points--section1--image--background {
    background-image: url("img/Red-rectangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 255px;
    max-height: 255px;
    width: 50%;
    height: 82%;
    position: relative;
    top: -60%;
    left: 40%;
  }
  .main--selling-points--section1--image--foreground {
    margin: 0;
    max-width: 386.44px;
    max-height: 219px;
    width: 60%;
    height: 71%;
    position: relative;
    top: 30%;
    left: 14%;
  }
  .main--selling-points--section1--text {
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main--selling-points--section1--text--title {
    font-size: 2.25rem;
    margin: 0;
  }
  .main--selling-points--section1--text--paragraph {
    font-size: 1rem;
    margin: 0;
  }
  .main--selling-points--section1--text--line {
    visibility: visible;
    width: 80%;
  }
  .main--selling-points--section2 {
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main--selling-points--section2--image {
    height: 100%;
    padding: 10px 0;
  }
  .main--selling-points--section2--image--background {
    background-image: url("img/Red-rectangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 320px;
    max-height: 320px;
    width: 67.5%;
    height: 100%;
    position: relative;
    top: -115%;
    left: 5%;
  }
  .main--selling-points--section2--image--foreground {
    margin: 0;
    max-width: 426px;
    max-height: 328px;
    width: 90%;
    height: 110%;
    position: relative;
    top: -2%;
    left: 5%;
  }
  .main--selling-points--section2--text {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main--selling-points--section2--text--title {
    width: 70%;
    font-size: 2.25rem;
    margin: 0;
  }
  .main--selling-points--section2--text--paragraph {
    font-size: 1rem;
    margin: 0;
  }
  .main--selling-points--section2--text--line {
    visibility: visible;
    width: 80%;
  }
  .main--selling-points--section3 {
    width: 54.5%;
    height: 370px;
    padding: 5%;
  }
  .main--selling-points--section3--image {
    width: 39%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main--selling-points--section3--image--foreground {
    max-width: 265.73px;
    max-height: 207.72px;
    width: 60%;
    height: 56%;
    position: relative;
    top: 7%;
    left: -7%;
  }
  .main--selling-points--section3--text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main--selling-points--section3--text--title {
    width: 80%;
    font-size: 2.25rem;
    margin: 0;
  }
  .main--selling-points--section3--text--paragraph {
    width: 90%;
    font-size: 1rem;
    margin: 0;
  }
  .main--selling-points--section3--text--line {
    visibility: visible;
    width: 65%;
  }
  .main--pricing {
    padding: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main--pricing--title {
    width: 100%;
    margin-bottom: 5%;
  }
  .main--pricing--section {
    width: 28%;
    height: 485px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main--pricing--section--price {
    margin: 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .main--pricing--section--price--title {
    padding-top: 30%;
    margin-bottom: 10%;
  }
  .main--pricing--section--feature-list {
    width: auto;
    height: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .main--pricing--section--feature-list--feature {
    margin: 0;
  }
  .main--pricing--section--feature-list--feature--text {
    margin: 0;
  }
  .main--pricing--section--rounded-button {
    height: 10%;
    margin: 0;
    position: relative;
    top: 5%;
  }
  .main--pricing--section:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgba(70, 71, 71, 0.2901960784);
  }
  .main--contact {
    width: 60%;
    height: 375px;
    margin: 75px 20% 0 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main--contact--info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-content: space-between;
    width: 42%;
    height: 45%;
    padding: 0;
  }
  .main--contact--info--title {
    width: 100%;
    font-size: 3rem;
  }
  .main--contact--info--subtitle {
    width: 100%;
    margin: 0;
  }
  .main--contact--info--container {
    width: 45%;
    display: inline-block;
  }
  .main--contact #contact-info {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .main--contact--input {
    width: 100%;
    height: 38%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main--contact--input--container {
    margin: 0;
  }
  .main--contact--input--container--input {
    width: 100%;
  }
  .main--contact--send {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .main--contact--send--text {
    width: 89%;
  }
}
.footer {
  margin-top: 40px;
  padding: 5%;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
.footer--text {
  display: inline-block;
  width: 70%;
}
.footer--text--title {
  font-size: 1.625rem;
  line-height: 1.875rem;
  font-weight: 300;
  text-align: left;
}
.footer--text--subtitle {
  font-size: 0.69rem;
  line-height: 0.94rem;
  font-weight: 300;
  text-align: left;
  color: #A5A5A5;
}
.footer--social-networks {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100%;
}
.footer--social-networks--icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 17%;
  margin-top: 10%;
}

@media only screen and (min-width: 1000px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
  }
  .footer--text {
    width: 80%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer--social-networks {
    display: flex;
    align-items: center;
    width: 10%;
    height: 50px;
    justify-content: space-evenly;
  }
  .footer--social-networks--icon {
    margin: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --red-color: #FB3B64;
  --blue-color: #08A6E4;
  --green-color: #55DFB4;
  font-family: Raleway, OpenSans;
}

body {
  min-width: 320px;
}

.blue-text {
  color: var(--blue-color);
}

.red-text {
  color: var(--red-color);
}

.green-text {
  color: var(--green-color);
}

.blue-border {
  border: 1.5px solid var(--blue-color);
}

.red-border {
  border: 1.5px solid var(--red-color);
}

.green-border {
  border: 1.5px solid var(--green-color);
}

.blue-background {
  background-color: var(--blue-color);
}

.red-background {
  background-color: var(--red-color);
}

.green-background {
  background-color: var(--green-color);
}

.open-sans {
  font-family: openSans;
}/*# sourceMappingURL=style.css.map */