@import 'scss/_header';
@import 'scss/_main';
@import 'scss/_footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --red-color: #FB3B64;
    --blue-color: #08A6E4;
    --green-color: #55DFB4;
    font-family: Raleway, OpenSans;
}

body {
    min-width: 320px;
}

.blue-text{
    color: var(--blue-color);
}

.red-text{
    color: var(--red-color);
}

.green-text{
    color: var(--green-color);
}

.blue-border{
    border: 1.5px solid var(--blue-color);
}

.red-border{
    border: 1.5px solid var(--red-color);
}

.green-border{
    border: 1.5px solid var(--green-color);
}

.blue-background{
    background-color: var(--blue-color);
}

.red-background{
    background-color: var(--red-color);
}

.green-background{
    background-color: var(--green-color);
}

.open-sans{
    font-family: openSans;
}